/* Ensure full viewport height for the welcome page */
.welcome-page {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Center the welcome form over the background video */
.welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.welcome-form h2 {
  margin-top: 0;
  color: #333;
}

.welcome-form p {
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-button {
  flex: 1;
  padding: 10px 20px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button.register {
  background-color: #d19a0e;
}

.form-button:hover {
  background-color: #45a049;
}

.form-button:focus {
  outline: none;
}

/* Main content styles */
.container {
  width: auto;
  margin-top: 2px;
  padding: 0px;
  background-color: #f8f7f7;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  background-color: hsl(129, 28%, 95%);
  margin-right: 0 auto;
  margin-left: 0px;
}

.home-container {
  flex: 3;
  position: relative;
  width: 70%;
  height: 70vh;
  padding-right: 0;
  padding-left: 0%;
  margin-left: 0px;
}

/* Ensure the header stays on top */
.header {
  position: relative;
  z-index: 1000;
  background-color: #28a745;
  padding: 10px;
  text-align: center;
}

.header .search-box {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.header .login-register-buttons {
  float: right;
  margin-right: 20px;
}
